In [22]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings 
import math
import datetime

In [23]:
df=pd.read_csv("customer_shopping_behavior.csv")

In [24]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

#### Checking Shape (rows-columns)

In [25]:
df.shape

(3900, 18)

#### Checking & Handling Null-Values

In [26]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

#### Checking Duplicates

In [27]:
df.duplicated().sum()

np.int64(0)

#### Changing Columns names

In [28]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [29]:
df.columns=df.columns.str.lower().str.replace(" ","_")
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [30]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

### Create a new column

In [31]:
label=['Young Adult','Adult','Middle-aged','Senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=label)

In [32]:
df.groupby('age_group')['age'].count()

C:\Users\dell\AppData\Local\Temp\ipykernel_22180\927777213.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('age_group')['age'].count()

age_group
Young Adult    1028
Adult           942
Middle-aged     986
Senior          944
Name: age, dtype: int64

#### Create column purchase_freq_days

In [33]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [34]:
freq={'Fortnightly':14,
      'Weekly':7,
      'Annually':365,
      'Quarterly':90,
      'Bi-Weekly':14,
      'Monthly':30,
      'Every 3 Months':90
}

In [35]:
df['purchase_freq_day']=df['frequency_of_purchases'].map(freq)

In [36]:
df[['purchase_freq_day','frequency_of_purchases']].head()

   purchase_freq_day frequency_of_purchases
0                 14            Fortnightly
1                 14            Fortnightly
2                  7                 Weekly
3                  7                 Weekly
4                365               Annually

In [37]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

#### Checking if both the columns carry equal value or data

##### all is used to check 2 columns values if equal True alse False

In [43]:
(df['discount_applied']==df['promo_code_used']).all()

np.True_

In [38]:
df=df.drop('promo_code_used',axis=1)

In [5]:
import mysql.connector
from mysql.connector import Error

In [ ]:
config={
    'user': "root",
    'password':'Mayank@400250',
    'host':'localhost',
    'database':'ex1',
    'port':3306
}
try:
    conn=mysql.connector.connect(**config)
    if conn.is_connected():
        print("Connection Established")
        cursor=conn.cursor()
except mysql.connector.Error as e:
    print("Error connecting to mysql")

Connection Established

In [42]:
from sqlalchemy import create_engine
import urllib.parse
import pymysql
username="root"
password="Mayank@400250"
host="localhost"
port=3306
database="ex1"
safe_password = urllib.parse.quote_plus(password)
db_connection_str = f'mysql+pymysql://{username}:{safe_password}@{host}:{port}/{database}'
engine = create_engine(db_connection_str)

In [43]:
df.to_sql(name="customer_behaviour",con=engine,if_exists="replace",index=False)

3900